input[type=text] {
    width: 99%;
}

input.datetimepick {
    width: 150px;
}

textarea.ckeditor {
    width: 100%;
    height: 500px;
}

textarea.short {
    width: 300px;
    height: 100px;
}

a {
    color: #00a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-weight: bold;
}

div.photo
{
    float: left;
    margin: 5px;
    border:  1px solid #ddd;
    padding:  5px;
    background-color: #fff;
}

.tree_node_list td {
    background-color: #efe;
    padding: 5px;
}

.main_table {
    border-collapse: collapse;
}

.main_menu {
    list-style: none;
    outline: 0;
    padding-left: 0px;
}

.main_menu li {
    margin: 2px;
    background-color: #eee;
}

.main_menu li a {
    display: block;
    height: 100%;
    color: black;
    padding: 3px;
}

.main_menu li a:hover, .main_menu li a.active
{
    background-color: #ddd;
    text-decoration: none;
}

.drag {
    width: 16px;
    height: 16px;
    background: url(/admin/static/img/icons.png) no-repeat;
    cursor: move;
}

tr.table_header {

}

tr.unactive {
    background-color: #ddd;
}

.edit_item_form td.error input {
    background-color: #f00;
}

span.error {
    color: red;
}

ul.path {
    list-style: none;
    outline: 0;
}

ul.path li {
    display: inline;
}

.posts_edit {
    width: 100%;
}

.posts_edit input[name=date] {
    width: 200px;
}

.post_edit
{
    display: block;
    width: 90%;
    border: 1px solid #eeeeee;
    margin: 5px;
}

.post_edit td {
    padding: 5px;
}

.post_edit tr
{
    vertical-align: top;
}

.post_edit textarea {
    width: 80%;
    height: 100px;
}

.post_edit table {
    width: 100%;
}

.filter_go {
    margin: 5px;
}

tr.blank td {
    background-color: #aaa;
}